#site-navigation {
  width: 90%;
  margin: 0 auto;
  text-align: center;

}
#logo {
  float: left;
  width: 140px;
  padding: 27px 0;
  margin-left: 10px;
  margin-top: 10px;
  @include media-above($break-medium) {
    margin-left: 30px;
    margin-top: 3px;
  }

}

// Responsive header menu; this container ID handles the fact that `wp_nav_menu()` defaults back to `wp_page_menu()` when no menu is active
#responsive-menu {
  @include media-above($break-medium) {
    display: inline-block;
    padding: 39px 0px;
  }

}

// Menu toggle for mobile phones and small screens
#responsive-menu-toggle {
  @include media-above($break-medium) {
    display: none;
  }

}
#responsive-menu ul li{
  margin: 0 15px;
  @include media-below($break-medium){
    margin: 5px 15px;
    display: block;
    width: 93%;
    float: left;
    padding: 2px;
    background-color:#f48b54;
  }
}
#responsive-menu ul li a{
  color: #182126;

  font-size: 1.1em;
}
#lang {

  padding: 4px 0px;
    position: absolute;
    top: 0px;
    right: 4px;
}
#lang a {
  background-color: transparent;
  border: none;
  color: #f68b4c;
  @include media-above($break-medium){
    //top: -10px;
  }
  position: relative;
  font-size:15px;
}
#responsive-menu-toggle {
  background-image: url('images/egiis/threelines.png');
  background-color:white;
  width: 40px;
  height: 32px;
  margin-top: 45px;
  border: none;
  position: absolute;
  left: 50%;
}
@media (max-width: 619px) {
}
